<h1>Broken Consort</h1>

{{#ui-search source=pool allowAdditions=true onSelect=(action "applyFilter") }}
  <input class="prompt" type="text" placeholder="search songs">
  <div class="results"></div>
{{/ui-search}}

<div class="ui form">
  <div class="ui dividing header">Filters</div>
  <form class="fields" {{action "testAction" on="submit"}}>
    <div class="field">
      {{#ui-dropdown class="selection" selected=selectedField onChange=(action (mut selectedField))}}
        <div class="default text">Field</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each-in labels as |field label|}}
            <div class="item" data-value="{{field}}">
              {{label}}
            </div>
          {{/each-in}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="field">
      {{input value=filter}}
    </div>
  </form>
</div>

<button class="ui button">Add new filter</button>