body {
  margin: 10px;
}

//styles for displaying csv list
.csv {
  padding: 0;
  display: inline;
  list-style: none;
  li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-of-type:after{
      content: "";
    }
  }
}

//for hiding things
.hidden{
  display: none !important;
}
